body{
    background-color: lightblue;
    background-image: url('../images/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}